<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<document>
    <common>
        <daemon>0</daemon>
        <log>
            <level>4</level>
            <dir>.</dir>
            <pattern>log_%5N.log</pattern>
        </log>
    </common>
    <data>
        <server>
            <host>0.0.0.0</host>
            <port>55555</port>
            <workers>8</workers>
            <timeout>10000000</timeout>
        </server>
    </data>
</document>
